
        <header class="col-md-12">
            <div class="offset-3 col-9 col-md-3 offset-md-9 row" id="inscription_connexion">
                <a href="#"><p class="col-md-6 menu_inscription">Inscription</p></a>
                <a href="#"><p class="col-md-6 menu_connexion">Connexion</p></a>
            </div>
            <div  class="col-md-12 sol-sm-12 text-center" ><img src="img/Covoit1.png" alt="covoit"/></div>

        </header>
        <!-- c'est ici que le contenu principal doit être placé -->
        <div id="pageContent">
            <!-- le bouton qui permet d'afficher le Menu -->
            <button class="openbtn" id="btnOpen" onclick="showMenu()">&#9776;</button>

            <div id="corps text-center">