</div>
        </div>

        <!-- c'est la balise qui contient le menu -->
        <!-- on doit l'avoir dans toutes les pages du site -->
        <div id="mySidebar" class="sidebar">
            <div class="col-md-12">
                <a href="./" class="col-md-1"><img src="img/icon_home.png" title="home" width="30px"></a>
                <a href="javascript:void(0)" class=" col-md- 6 closebtn" onclick="hideMenu()">&times;</a>
            </div>

            <a href="./Profil">Profil</a>
            <a href="./Rechercher">Rechercher</a>
            <a href="./Proposer">Proposer un trajet</a>
        </div>

