/* Fichier Css */

/* Menu */
.sidebar {
  height: 100%; 
  width: 0; /* c'est l'attribut qui permet d'afficher ou non le menu (width=0 => menu fermé)*/
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #0082ae; 
  overflow-x: hidden; /* pour dire que si le contenu deppase le width il ne l'affiche pas */
                      /* donc quand le width=0 il va pas afficher le menu */
  padding-top: 60px; 
  transition: 0.5s; 
}

/* les elements du menu */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block; 
  transition: 0.3s;
}

.sidebar a:hover {
  color: black;
}

/* le bouton qui ferme le menu */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* le bouton qui ouvre le menu */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #bedff1;
  color: black;
  padding: 10px 15px;
  border: none;
}


.openbtn:hover {
  background-color: #66748a;
}

#pageContent {
  transition: margin-left .5s; 
  padding: 20px;
  background-color: #bedff1;
  height:100vh;
  
}

/* Réduire la taille du menu sur les smartphones */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Inscription / connexion */
#exampleModalCenter .modal-content{
    box-shadow: 2px 2px 2px #2a3951
}
#exampleModalCenter .form-control{
    
    border: 0.1px solid white;
}

#exampleModalCenter .form-group{
    margin-left: 5px;
    margin-right: 5px;
    padding-top:5px;
    padding-bottom:5px;
    border: 1px solid #66748a;
    border-radius: 10px;
}

/* Fin Inscription / connexion */



/* debut Profile */

/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: white;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.menu {
  position: relative;
  background-color: #99ffcc;
  width: 20%;
  height: 700px;
  float: left;
  display: block;
  text-align: center;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 0%;
  transition-duration: 0.2s;
}
 .img-container {
        text-align: center;
        display: block;
        width:100%;
        height:40%;
      }
.img-container img {
  width:70%;
  height:100%;
}

image {
  border: 15px solid white;
  padding-left: 30px;
  border-radius: 5px;
  
  margin-left: 21%;
}
header {
  background-color: #b3ff66;
  text-align: right;
  margin: 0px 0px 3px 0px;
  padding: 0.5px 0.5px 0.5px 0.5px;
}
.user-list {
  
  background-color: #c2c2a3;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 21%;
  font-style: italic;
}

ul.user-list {
  position: relative;
  line-height: 1.9;
}

.btn_ {
  width: 19.6%;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-align: left;
  font-weight: bold;
  display: block;
  border: 2px solid white;
}

.menu {
  position: relative;
  line-height: 1.9;
  text-align: left;
  font-weight: bold;
  padding: 0px 1px 1px 1px;
}


/* fin profile */ 