/* Fichier Css */

/* Menu */
.sidebar {
  height: 100%; 
  width: 0; /* c'est l'attribut qui permet d'afficher ou non le menu (width=0 => menu fermé)*/
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #66748a; 
  overflow-x: hidden; /* pour dire que si le contenu deppase le width il ne l'affiche pas */
                      /* donc quand le width=0 il va pas afficher le menu */
  padding-top: 60px; 
  transition: 0.5s; 
}

/* les elements du menu */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block; 
  transition: 0.3s;
}

.sidebar a:hover {
  color: black;
}

/* le bouton qui ferme le menu */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* le bouton qui ouvre le menu */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none;
}


.openbtn:hover {
  background-color: #66748a;
}

#pageContent {
  transition: margin-left .5s; 
  padding: 20px;
}

/* Réduire la taille du menu sur les smartphones */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Inscription / connexion */
#exampleModalCenter .modal-content{
    box-shadow: 2px 2px 2px #2a3951
}
#exampleModalCenter .form-control{
    border: 1px solid white;
}

#exampleModalCenter .form-group{
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #66748a;
    border-radius: 10px;
}

/* Fin Inscription / connexion */