<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('./partials/head'); -%>
    </head>
    <body>
        <%- include('./partials/header'); -%>     
        <div id="error" class="col-md-12 d-flex justify-content-center   ">
            <p >Désolé cette page du site n'existe pas ! </p>
        </div>
        <%- include('./partials/menu'); -%>
        <%- include('./partials/footer'); -%>
    </body></html>
