<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('./partials/head'); -%>
    </head>
    <body>
        <%- include('./partials/header'); -%>     
        <div id="messagerie" class="col-md-12 row">
            <h1 class="col-sm-12 col-md-12 text-center titre_page">Messagerie</h1>
            <div class="col-md-12">
                <div class="row">
                    <!--  Liste des conversations  -->
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist" style="height: 500px; background-color: white">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Julia</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Aziz</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Cynthia</a>
                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Salim</a>
                        </div>
                    </div>
                    <!-- FIN Liste des conversations  -->

                    <!--  Colonne de droite  -->
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <!--  Détail conseration  -->
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <ul id="messages" >
                                    


                                </ul>

                                <!-- Formulaire d'envoie de message -->
                                <form class="col-md-12 row">
                                    <input type="text" id="username" placeholder="Votre pseudonyme" class="col-md-12">
                                    <textarea class="form-control col-md-9" rows="2" id="message" placeholder="Votre message"></textarea>
                                    <button type="submit" id="submit" class="btn btn-primary col-md">Envoyer</button>
                                </form>
                                <!-- Fin Formulaire d'envoie de message  -->

                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...Irure enim occaecat labore sit qui aliquip reprehenderit amet velit. Deserunt ullamco ex elit nostrud ut dolore nisi officia magna sit occaecat laboris sunt dolor. Nisi eu minim cillum occaecat aute est cupidatat aliqua labore aute occaecat ea aliquip sunt amet. Aute mollit dolor ut exercitation irure commodo non amet consectetur quis amet culpa. Quis ullamco nisi amet qui aute irure eu. Magna labore dolor quis ex labore id nostrud deserunt dolor eiusmod eu pariatur culpa mollit in irure.

                            </div>
                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...Irure enim occaecat labore sit qui aliquip reprehenderit amet velit. Deserunt ullamco ex elit nostrud ut dolore nisi officia magna sit occaecat laboris sunt dolor. Nisi eu minim cillum occaecat aute est cupidatat aliqua labore aute occaecat ea aliquip sunt amet. Aute mollit dolor ut exercitation irure commodo non amet consectetur quis amet culpa. Quis ullamco nisi amet qui aute irure eu. Magna labore dolor quis ex labore id nostrud deserunt dolor eiusmod eu pariatur culpa mollit in irure.

                            </div>
                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...Irure enim occaecat labore sit qui aliquip reprehenderit amet velit. Deserunt ullamco ex elit nostrud ut dolore nisi officia magna sit occaecat laboris sunt dolor. Nisi eu minim cillum occaecat aute est cupidatat aliqua labore aute occaecat ea aliquip sunt amet. Aute mollit dolor ut exercitation irure commodo non amet consectetur quis amet culpa. Quis ullamco nisi amet qui aute irure eu. Magna labore dolor quis ex labore id nostrud deserunt dolor eiusmod eu pariatur culpa mollit in irure.

                            </div>
                        </div>
                        <!--  Fin détail conversation  -->
                    </div>
                    <!-- FIN Colonne de droite  -->
                </div>
            </div>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>



            <script src="/socket.io/socket.io.js"></script>

            <script>
                /*
                $('[data-spy="scroll"]').on('activate.bs.scrollspy', function () {
                    // do something…
                })*/
                $(document).ready(function(){
                    //var pos_contenu_conversation = 0;
                    let socket = io();

                    $('#submit').on('click', function(e){
                        e.preventDefault();

                        let data = {
                            username: $('#username').val(),
                            message : $('#message').val(),
                            date :  new Date().toJSON().slice(0,10)
                        };

                        socket.emit('new message', data);

                    });

                    socket.on('error message', function(phrase){
                        $('#response').html(phrase);
                    });

                    socket.on('save conversation', function(data){
                        var contenu_conversation = new Object();
                        var msg = new Array();
                        msg['id'] = data.username;
                        msg['message'] = data.message;
                        msg['date'] = data.date;
                        
                        contenu_conversation[0] = msg;
//                        for(var exKey in contenu_conversation) {
//                            for(i=0; i<Object.keys(contenu_conversation[exKey]).length; i++){
//                                alert('clé ==> ' + Object.keys(contenu_conversation[exKey])[i]+ '    msg ==> ' + Object.values(contenu_conversation[exKey])[i]);
//                            }
//                        }
                        socket.emit('save in file', data);
                    });
                    socket.on('new message', function(data){
                        if(data.username == 'id_moi'){
                            $('#messages').append('<li class="id_moi d-flex justify-content-end"><p class=" badge badge-info"> ' + XSSPatcher(data.message) + '</p></li>');

                        }else {
                            $('#messages').append('<li  class="id_julia d-flex justify-content-start"><p class=" badge badge-light">     ' + XSSPatcher(data.message) + '</p></li>');

                        }

                    });
                    /*socket.on('new message', function(data){
                        if(data.username == 'moi'){
                            $('#messages').append('<li class="id_moi d-flex justify-content-end"><p class=" badge badge-info">' + XSSPatcher(data.username) + ' : ' + XSSPatcher(data.message) + '</p></li>');

                        }else {
                            $('#messages').append('<li  class="id_julia d-flex justify-content-start"><p class=" badge badge-light">' + XSSPatcher(data.username) + ' : ' + XSSPatcher(data.message) + '</p></li>');

                        }

                    });*/


                    function XSSPatcher(texte){
                        return texte
                            .replace(/&/g, "&amp;")
                            .replace(/</g, "&lt;")
                            .replace(/>/g, "&gt;")
                            .replace(/"/g, "&quot;")
                            .replace(/'/g, "&&#039;")
                    }

                    /*Je récupère les conversations situés dans un fichier*/
                    socket.on('last message', function(contenu_conversation){
                        for(var exKey in contenu_conversation.table) {
                            //for(i=1; i<Object.keys(contenu_conversation[exKey]).length; i++){
                            //if(Object.keys(contenu_conversation[exKey]).id)
                            
                            if(Object.values(contenu_conversation.table[exKey])[0] == 'id_moi'){
                                $('#messages').append('<li class="id_moi d-flex justify-content-end"><p class=" badge badge-info">' + Object.values(contenu_conversation.table[exKey])[1] + '</p></li>');

                            }
                            else {
                                $('#messages').append('<li  class="id_julia d-flex justify-content-start"><p class=" badge badge-light">' + Object.values(contenu_conversation.table[exKey])[1] + '</p></li>');

                            }
                            //}
                        }


                        /*for(i = 0;i < arr.length;i++){
                            var x = XSSPatcher(arr[i]);
                            var classe;
                            var j = 0;
                            while(x[j] != ':'){
                                classe += x[j];
                                j++;
                            }
                            if(classe == 'moi' || (classe == 'moi ')){
                                $('#messages').append('<li class="id_moi d-flex justify-content-end"><p class=" badge badge-info">' + XSSPatcher(arr[i]) + '</p></li>');

                            }else {
                                $('#messages').append('<li  class="id_julia d-flex justify-content-start"><p class=" badge badge-light">' + XSSPatcher(arr[i]) + '</p></li>');

                            }
                            classe = "";
                        }*/
                    });
                });

            </script>

        </div>

        <%- include('./partials/menu'); -%>
        <%- include('./partials/footer'); -%>
    </body></html>
