#titre {
    padding-bottom: 65px;
    padding-top: 70px;
}
.recherche-title{
    font-size: 50px;
    /*padding-bottom: 100px;
    padding-top: 70px; */
}
span.trajet-circle{
    height: 15px;
    width: 15px;
    vertical-align: top;
    margin: 0 auto;
    border: solid black 2px;
    border-radius: 50%;
    display: inline-block;
}


.trajet-vertical-separator{
    height: 50px;
}

#img-profil{
    border-radius: 50%;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    width: 70px;
    height: 70px;
    /* margin-top: -30px; */
    /* margin-left: -30px; */ /* Half the height */
}
#rating-text{
    font-size: 1.8em;
    /* position: absolute; */
    /* margin: 15px; */
    /* margin-top: 17px; */
    /* margin-bottom: 15px; */
}
#trajet-name{
    font-size: 1.3em;
}
.trajet-place{
    font-size: 1.2em;

}

#container1  div img:nth-child(1) {
    /* position: relative;
     top: 140px;
     left: 9px;*/
}

@media screen and (max-width: 600px) {
    #container2{
        /* margin-left: 13px; */
        /* margin-right: 33px; */
        margin-top: 30px;
        /*        width: -26px;*/
    }
    #container2 #info_trajet {
        margin-bottom: 24px;
    }

    div.vertical-line{
        margin-left: 5px;
        border-left: 5px solid black;
    }
}

@media screen and (min-width: 610px) {
    #container2{
        margin-top: 30px;
        width: 50%;
    }
    div.vertical-line{
        margin-left: 17%;
        border-left: 5px solid black;
    }

}

#container1 .card {
    background-color: #7366a54f;
}