/* Fichier Css */
/* header */
header {
  padding-top: 5px;
}


/* lien inscription_connexion */

.modal-open .modal {
  overflow: hidden;
}
#inscription_connexion {
  position: absolute;
  top: 5px;
  right: 5px;
  max-width: 300px;
  /* margin-righ: -5%;*/
}
#inscription_connexion a{
  color: black;
  font-size: 20px;
}
#inscription_connexion a:hover{
  color: #66748a;
  font-size: 20px;
  text-decoration-line: none;
}

/* Fin lien inscription_connexion */



/* Fin header */
/* Menu */
.sidebar {
  height: 100%;
  width: 0; /* c'est l'attribut qui permet d'afficher ou non le menu (width=0 => menu fermé)*/
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #ff6666;
  overflow-x: hidden; /* pour dire que si le contenu deppase le width il ne l'affiche pas */
  /* donc quand le width=0 il va pas afficher le menu */
  padding-top: 0px;
  transition: 0.5s;
  /* box-shadow: 2px 2px 2px #2a3951; */
}

/* les elements du menu */
.sidebar div {
  padding: 0px;
}
.sidebar #login {
  padding-top: 8px;

}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: black;
}

/* le bouton qui ferme le menu */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#mySidebar a:nth-child(1) {
  /*padding-top: 110px;*/
  padding-top: 70px;
}

#mySidebar div a img:nth-child(1) {
  position: absolute;
  top: 20px;
}

/* le bouton qui ouvre le menu */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #ededed;
  /*background-color: #bedff1;*/
  color: black;
  padding: 10px 15px;
  border: none;
  position: absolute;
  z-index: 3;
  top: 0px;
}


.openbtn:hover {
  background-color: #66748a;
}

#pageContent {
  transition: margin-left .5s;
  padding: 20px;
  padding-top: 85px;
  /*background-image:url(../img/arizona1.jpg); */
  /*   background-image:url(../img/arizona.jpg)no-repeat center center fixed; */
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  /*background-color: #ededed;*/
  /* background-color: #bedff1;*/
  /*background-color: white;*/

}



/*carousel */
.carousel-inner {
  max-height: 650px;

}
.carousel-inner img {
  max-height: 600px;
  width: 100%;

}
.carousel-caption {
  right: 30%;
  left: 30%;
}


/* Inscription / connexion */
#exampleModalCenter .modal-content{
  box-shadow: 2px 2px 2px #2a3951
}
#exampleModalCenter .form-control{

  border: 0.1px solid white;
}

#exampleModalCenter .form-group{
  margin-left: 5px;
  margin-right: 5px;
  padding-top:5px;
  padding-bottom:5px;
  border: 1px solid #66748a;
  border-radius: 10px;
}


/*.modal-content{
height: 400px;
}*/
/* Fin Inscription / connexion */





/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #ededed;
  height:100vh;
  width: 100%;
}



.menu {
  position: relative;
  background-color: #99ffcc;
  width: 20%;
  height: 700px;
  float: left;
  display: block;
  text-align: center;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 0%;
  transition-duration: 0.2s;
}
.img-container {
  text-align: center;
  display: block;
  width:100%;
  height:38%;
}
.img-container img {
  width:70%;
  height:100%;
}
.menu {
  position: relative;
  line-height: 1.9;
  text-align: left;
  font-weight: bold;
  padding: 0px 1px 1px 1px;
}


/* debut Profil */


.form-control-file, .form-control-range{
  width: 60%;
}

#profil {
  /*padding-left: 50px;
  padding-right: 50px; */
}
#profil .card{
  background-color: #7366a54f;
  /*border: 2px solid red;*/
  /*height: 100px;*/
  box-shadow: 2px 2px 2px #2a3951;

}
#profil #info_perso .card {
  padding: 50px;
}
#profil #info_perso {
  padding: 20px;
}
#profil #avis {
  padding: 19px;
  margin: 5px;
}
#profil .titre_page {
  padding-top: 50px;
  padding-bottom: 50px;
}

#profil #photo_profil img{
  height: 150px;
  width: 70%;

}



#profil #avis #voir_com {
  font-size: 10px;
}

#profil #Modalavis .modal-body{
  height : 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 450px) {
  header img {
    max-width: 85px;
    position: absolute;
    top: 5px;
    left: 12%;
  }
  /* Réduire la taille du menu sur les smartphones */
  .sidebar {
    padding-top: 15px;
    background-image: linear-gradient(#292323, #68659699,#1236340f,#e0ddddc9);
    /*background-color: #1236340f;*/
    height: 250px;
    width: 450px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
@media  (min-width: 450px) and  (max-width: 800px) {
  #profil #info_perso {
    margin: 5px  ;
  }
  .titre_page {
    margin: 0px 0px 8px;
  }
  header img {
    max-width: 160px;
    position: absolute;
    top: -8px;
    left: 10%;
  }
}

@media screen and (min-width: 800px) {
  #profil #info_perso {
    margin: 5px;
    margin-left: 15%  ;
  }
  .titre_page {
    margin-left: 6%  ;
  }
  header img {
    max-width: 240px;
    position: absolute;
    top: -20px;
    left: 40%;
  }
}

.separation_paragraphe {
    height: 30px;
}

#profil .msg {
     display: inline-block;
}

#profil #msg_non_lu {
    position: relative;
    top: -18px;
    left: -10px;
    
}

/* fin profil */